<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script srxsc="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="card-panel blue lighten-2 hoverable"> <h1> You should get a bird!</h1></div>
    <div class="row">
      <div class="col s12 m7">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://s-media-cache-ak0.pinimg.com/736x/5e/9b/b0/5e9bb08f552f598c19a3e6771be6148f--pets-online-love-birds.jpg">
            <span class="card-title"></span>
            </div>
              <div class="card-content">
                <p>Birds are great for those who do not have a large living space, want a unique pet, and do not have a lot of time. The cost of birds is typically lower, making them easily accessible to most people.</p>
              </div>
            <div class="card-action">
            <a href="https://www.petco.com/shop/en/petcostore/category/bird/live-birds" target="_blank">Get a bird!</a>
            
            <a href="https://www.petco.com/shop/en/petcostore/category/bird/bird-food-and-treats/bird-food" target="_blank">Food</a>
          
            <a href="https://www.petco.com/shop/en/petcostore/category/bird/cages-for-birds" target="_blank">Other</a>          
                
            <a href="https://pet-app-oliviaotsuka.c9users.io">Take the quiz again!</a>        
          </div>
        </div>
      </div>
    </div>
  </body>
</html>