<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script srxsc="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </head>
  <body>
   <div class="card-panel blue lighten-2 hoverable"> <h1> You should get a hamster!</h1></div>
    <div class="row">
      <div class="col s12 m7">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://www.caringpets.org/wp-content/uploads/cute-hamster-300x229.jpg">
            <span class="card-title"></span>
            </div>
              <div class="card-content">
                <p>Hamsters are great for those who do not have a large living space, want a unique pet, and do not have a lot of time. The cost of hamsters is typically lower, making them easily accessible to most people. Other pets similar to hamsters are bunnies and gerbils.</p>
              </div>
            <div class="card-action">
            <a href="http://www.petsmart.com/live-pet/live-small-pets/hamster/?srule=new-arrival&pmin=0" target="_blank">Get a hamster!</a>
            
            <a href="https://www.petco.com/shop/en/petcostore/category/small-animal/small-animal-food-treats/small-animal-food" target="_blank">Food</a>
            
            <a href="http://www.petsmart.com/small-pet/cages-habitats-and-hutches/hamster/?srule=best-sellers&pmin=0" target="_blank">Other</a>
          
          <a href="https://pet-app-oliviaotsuka.c9users.io">Take the quiz again!</a>
          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>