<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script srxsc="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="card-panel blue lighten-2 hoverable"> <h1> You should get a large dog!</h1></div>
    <div class="row">
      <div class="col s12 m7">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://www.labradortraininghq.com/wp-content/uploads/2013/05/Chocolate-labrador-perfect-side-view-1.jpg">
            <span class="card-title"></span>
            </div>
              <div class="card-content">
                <p>Large dogs are great for dog lovers who have lots of time and living space. Large dogs typically weigh over 50 pounds and are great for families. Some examples include Golden Retrievers, Dalmations, and Standard Poodles.</p>
              </div>
            <div class="card-action">
            <a href="http://petharbor.com/results.asp?searchtype=ADOPT&orderby=Shelter&bgcolor=F1EFE2&text=000000&link=666666&alink=fbcd00&vlink=666666&col_hdr_bg=ACA899&col_hdr_fg=FFFFFF&col_bg=FFFFFF&col_bg2=F1EFe2&col_fg=000000&SBG=F1EFE2&rows=25&imght=50&imgres=thumb&view=sysadm.v_nwyk&fontface=arial&fontsize=1&start=4&shelterlist=%27NWYK%27,%27NWYK1%27,%27NWYK2%27&WHERE=type_dog,"target="_blank">Adopt a dog!</a>
            
            <a href="https://www.petco.com/shop/en/petcostore/category/dog/dog-food"target="_blank">Food</a>
            
            <a href="https://www.petco.com/shop/en/petcostore/category/dog/dog-toys" target="_blank">Other</a>
            
            <a href="https://pet-app-oliviaotsuka.c9users.io">Take the quiz again!</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>